<div class="container">
  
  <div id="search-bar"  class="col-lg-6">
    <div class="input-group">
      <button class="btn btn-success" data-toggle="modal" data-target="#addBook">Add Book</button>
      <input type="text" [(ngModel)]="text_search" class="form-control" placeholder="Search for title...">
      <span class="input-group-btn">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()" type="submit">Search</button>
      </span>
    </div>
  </div>
  <table class="table table-bordered">
    <thead class="thead-default">
      <tr>
          <th width="10%" class="center-th">Isbn</th>
          <th>Title</th>
          <th width="20%">Author</th>
          <th width="15%"class="center-th">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of books|myfilter:text_search">
            <td class="center-th">{{item.isbn}}</td>
            <td>{{item.title}}</td>
            <td >{{item.author}}</td>
            <td class="center-th">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a style="color: blue;" (click)="showDetail(item)" class="a-padding" data-toggle="modal" data-target="#infoBook" href="javascript:void(0)"><i class="fa fa-info fa-lg padding-fa1"></i>Info</a></li>
                      <li><a style="color: blue;" (click)="editBook(item)" class="a-padding" data-toggle="modal" data-target="#editBook"   href="javascript:void(0)"><i class="fa fa-pencil padding-fa3"></i>Edit</a></li>
                      <li ><a style="color:red" (click)="deleteBook(item,item._id)" href="javascript:void(0)"><i class="fa fa-trash-o fa-lg padding-fa2"></i>Delete</a></li>
                    </ul>
              </div>
            </td>
        </tr>
    </tbody>
  </table>
  <nav  aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item ">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
  <!-- The Modal add book -->
<div class="modal fade" id="addBook">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Book</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <app-create-book [addBook]='books'></app-create-book>
        </div>
        
      </div>
    </div>
</div>
 <!-- The Modal info book -->
 <div class="modal fade" id="infoBook">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-info" aria-hidden="true"></i> Book Detail</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-detail-book [bookDetail]='bookDetail'></app-detail-book>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
  <!-- The Modal edit book -->
  <div class="modal fade" id="editBook">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Book</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <app-edit-book [bookEdit]='bookDetail'></app-edit-book>
        </div> 
      </div>
    </div>
</div>
