
        <form (ngSubmit)="saveBook()" [formGroup]="bookForm">
          <div class="form-group">
            <label for="name">ISBN</label>
            <input type="text" class="form-control"  name="isbn" required formControlName='isbn'>
          </div>
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control"  name="title" required formControlName='title'>
          </div>
          <div class="form-group">
            <label for="name">Author</label>
            <input type="text" class="form-control"  name="author" required formControlName='author'>
          </div>
          <div class="form-group">
              <label for="name">Publisher</label>
              <input type="text" class="form-control"  name="publisher" required formControlName='publisher'>
          </div>
          <div class="form-group">
            <label for="name">Published Date</label>
            <input type="date" class="form-control"  name="publisher" required formControlName='published_date'>
          </div>
          <div class="form-group">
            <label for="name">Price</label>
            <input type="number" class="form-control"  name="price" required formControlName='price'>
          </div>
          <div class="form-group modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>