<form (ngSubmit)="register(username.value,password.value,firstname.value,lastname.value)" #registerForm="ngForm">
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" name="username" required #username>
    </div>
    <div class="form-group">
      <label for="name">Password</label>
      <input type="password" class="form-control" name="password" required #password>
    </div>
    <div class="form-group">
      <label for="name">First name</label>
      <input type="text" class="form-control" name="firstname" required #firstname>
    </div>
    <div class="form-group">
        <label for="name">Last name</label>
        <input type="text" class="form-control" name="lastname" required #lastname>
    </div>
    <div class="form-group modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">Register</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>